@font-face {
  font-family: 'Inter Variable';
  src: url('../../public/Inter-Variable.ttf');
}

body {
  font-family: 'Inter Variable';
  overflow: hidden;
}

.container {
  width: 100vw;
  max-width: 1200px;
  margin: 25vh auto;
}

.logo {
  height: 150px;
  width: auto;
  display: block;
  margin: auto;
}

.search-field {
  width: 100%;
  max-width: 540px;
  background-color: #f5f5f5;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#search-bar {
  background-color: transparent;
  color: #424242;
  border: none;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  white-space: nowrap;
}

#search-bar::selection {
  color: #212121;
  background-color: rgba(229, 57, 53, 0.5);
}

#search-btn {
  border: none;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #e53935;
  padding: 12px 20px;
  font-weight: 500;
  cursor: pointer;
}

#search-btn:hover {
  filter: saturate(125%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
  }

  #search-bar {
    color: #848484;
  }

  #search-bar::selection {
    color: #f5f5f5;
  }

  .logo {
    filter: grayscale(1) opacity(0.2);
  }

  .search-field {
    background-color: #212121;
  }

  #search-btn {
    color: #e53935;
    background-color: transparent;
  }
}